* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif, black;
    font-weight: 600;
}
/* BOTTOM BAR */
.bottom-bar {
    background-color: rgb(40, 40, 40);
    padding: 0 15px;

}
.bottom-bar .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-bar .top-content {
    text-align: center;
}
.bottom-bar i {
    font-size: 13px;
}
.bottom-bar .fa-play {
    font-size: 15px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 3px 6px;
    margin: 0 20px;
}
.bottom-bar .top-content i:nth-child(2) {
    margin-left: 15px;
}
.bottom-bar .top-content i:nth-child(4) {
    margin-right: 15px;
}
.bottom-bar .bottom-content {
    margin-top: 5px;
    width: 30vw;
    display: flex;
    align-items: center;
}
.bottom-bar input {
    vertical-align: middle;
    appearance: none;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(90, 90, 90);
    
}
.bottom-bar .bottom-content input {
    width: calc(100% - 100px);
}
.bottom-bar .right-content i, .bottom-bar .icone i:first-child {
    margin-right: 10px;
}
.bottom-bar .left-content, .bottom-bar .brano {
    display: flex;
    align-items: center;
}
.bottom-bar .brano {
    height: 50px;
}
.bottom-bar .brano img {
    height: 100%;
    margin-right: 15px;
}
.bottom-bar .brano .content {
    float: right;
    vertical-align: middle;
}
.bottom-bar .icone {
    margin-left: 25px;
}
.bottom-bar .subtitle, .bottom-bar .timer {
    font-size: 10px;
}
.bottom-bar .timer {
    font-weight: 600;
}
/* FINE BOTTOM BAR */
/* SIDE BAR */
.side-bar {
    background-color: black;
}
.side-bar .top-content {
    padding: 15px 0 0 15px;
}
.side-bar .logo img {
    height: 40px;
    margin-bottom: 20px;
}
.side-bar .home img, .side-bar .search img, .side-bar .library img {
    height: 28px;
    vertical-align: middle;
    filter: invert(1);
    filter: brightness(0) saturate(100%) invert(65%) sepia(52%) saturate(2%) hue-rotate(104deg) brightness(91%) contrast(86%);
}
.side-bar .home, .side-bar .search {
    margin-bottom: 5px;
}
.side-bar .middle-content {
    padding-left: 15px;
}
.side-bar h3 {
    margin: 20px 0 10px;
    font-size: 14px;
}
.side-bar .middle-content i {
    font-size: 45px;
    vertical-align: middle;
    margin-right: 10px;
}
.side-bar .new-playlist span {
    vertical-align: middle;
}
.side-bar .playlists {
    overflow-y: scroll;
    max-height: 220px;
}
.side-bar .playlists ul {
    list-style-type: none;
}
.side-bar .playlists li {
    margin-top: 15px;
}
.side-bar .bottom-content {
    padding: 0 15px 5px;
    background-color: black;
}
.side-bar .download {
    margin-bottom: 10px;
}
.side-bar .download img {
    height: 15px;
    vertical-align: middle;
    margin-right: 10px;
    color: inherit;
    filter: invert(1);
    filter: brightness(0) saturate(100%) invert(65%) sepia(52%) saturate(2%) hue-rotate(104deg) brightness(91%) contrast(86%);
}
.side-bar hr {
    width: 100%;
}
.side-bar .profile {
    margin-top: 10px;
}
.side-bar .profile img {
    height: 25px;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    padding: 0 1.5px;
    vertical-align: middle;
    margin-right: 5px;
}
.side-bar .profile span, .side-bar .new-playlist span {
    font-size: 14px;
}
.side-bar .profile span {
    vertical-align: middle;
}
/* FINE SIDE BAR */
/* TOP BAR */
.top-bar {
    background-color: rgba(0, 0, 0, 0.50);
}
.top-bar button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 13px;
    padding: 10px 40px;
    margin-right: 30px;
    color: inherit;
    font-weight: inherit;
}
/* FINE TOP BAR */
/* MAIN */
main {
    background-color: rgb(20, 25, 34);
    font-size: 14px;
}
.container-main {
    padding: 10px;
}
.nav .row {
    flex-wrap: wrap;
    justify-content: center;
}
.nav .col {
    margin: 0 15px 40px;
}
.nav a {
    text-decoration: none;
    color: inherit;
}
.recently, .per-john, .artisti {
    margin-bottom: 40px;
}
main .section-title {
    margin: 0 0 20px 10px;
    font-size: 17px;
}
main h2 {
    margin-bottom: 10px;
}
.card {
    text-align: center;
}
.card-img .hover {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50.5%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 101%;
    height: 99%;
}
.card-img .hover .fa-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 2.7vw;
    border: 0.4vw solid white;
    border-radius: 50%;
    padding: 0.4vw 0.8vw;
}
.card h3, .card .subtitle {
    margin-top: 10px;
}
.artisti img {
    border-radius: 50%;
}
.artisti .card-img .hover {
    border-radius: 50%;
}
/* FINE MAIN */
/* LAYOUT */
.container {
    height: calc(100vh - 80px);
}
.row {
    display: flex;
}
.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 100;
}
.bottom-bar .row {
    height: 100%;
    align-items: center;
}
.side-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 10;
    height: calc(100vh - 80px);
    overflow-y: hidden;
}
.side-bar .row {
    flex-direction: column;
    height: 100%;
}
.side-bar .col:last-child {
    position: absolute;
    bottom: 0;
}
.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    overflow-y: hidden;
}
.top-bar .row {
    height: 100%;
    align-items: center;
    flex-direction: row-reverse;
}
main {
    width: calc(100% - 200px);
    height: 100%;
    position: absolute;
    right: 0;
    overflow-y: scroll;
}
.nav {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.recently .col, .per-john .col, .artisti .col {
    width: calc(100% / 6 - 20px);
    margin: 0 10px;
}
/* FINE LAYOUT */
/* GENERAL */
.space-between {
    justify-content: space-between;
}
.relative {
    position: relative;
}
.w-100, .card img {
    width: 100%;
}
.top-bar, .bottom-bar, .side-bar h3, .side-bar .profile, main {
    color: white;
}
.subtitle, .bottom-bar .icone, .side-bar, .nav {
    color: rgb(163, 163, 163);
}
.side-bar, .bottom-bar .title, main .subtitle {
    font-size: 12px;
}
/* FINE GENERAL */
/* HOVER */
.top-bar button:hover {
    transform: scale(1.1);
}
.nav a:hover, .side-bar .new-playlist:hover, .side-bar li:hover, .side-bar .download:hover, .bottom-bar .left-content .subtitle:hover, .bottom-bar .icone i:hover, .side-bar .home:hover, .side-bar .search:hover, .side-bar .library:hover {
    color: white;
}
.side-bar .home:hover img, .side-bar .search:hover img, .side-bar .library:hover img {
    filter: invert(1);
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1088%) hue-rotate(121deg) brightness(115%) contrast(100%);
}
.side-bar .download:hover img {
    filter: invert(1);
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1088%) hue-rotate(121deg) brightness(115%) contrast(100%);
}
.bottom-bar .left-content .subtitle:hover {
    text-decoration: underline;
}
.bottom-bar .fa-play:hover {
    transform: scale(1.1);
}
.card:hover .hover, .card:hover .fa-play{
    display: block;
}
/* FINE HOVER */
/* MEDIA */
/* FINE MEDIA */
