* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* BOTTOM BAR */
/* FINE BOTTOM BAR */
/* SIDE BAR */
/* FINE SIDE BAR */
/* TOP BAR */
/* FINE TOP BAR */
/* MAIN */
/* FINE MAIN */
/* LAYOUT */
.container {
    height: calc(100vh - 80px);
    width: 100%;
}
.row {
    display: flex;
}
.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 100;
}
.bottom-bar .row {
    height: 100%;
    align-items: center;
}
.side-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    z-index: 10;
}
.side-bar .row {
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.side-bar .col:last-child {
    position: absolute;
    bottom: 0;
}
.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
}
.top-bar .row {
    height: 100%;
    align-items: center;
    flex-direction: row-reverse;
}
/* FINE LAYOUT */
/* GENERAL */
.space-between {
    justify-content: space-between;
}
.relative {
    position: relative;
}
/* FINE GENERAL */
/* DA CANCELLARE */
.bottom-bar {
    background-color: purple;
}
.bottom-bar .col {
    background-color: green;
    height: 50px;
    width: 300px;
}
.container {
    color: blue;
}
.side-bar {
    background-color: red;
}
.side-bar .col {
    background-color: aqua;
    height: 100px;
    width: 100%;
}
.side-bar .col:nth-child(2) {
    margin-top: 10px;
}
.top-bar {
    background-color: black;
}
.top-bar .col {
    background-color: white;
    height: 50px;
    width: 200px;
    margin-right: 50px;
}
/* FINE DA CANCELLARE */
/* MEDIA */
/* FINE MEDIA */
